<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320221478845-eiu988oljcbv55vfif7q1hnsadq49ipl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320221478845-eiu988oljcbv55vfif7q1hnsadq49ipl</string>
	<key>API_KEY</key>
	<string>AIzaSyDRLS84umYpHGWnnssigoIFtqfEW0JdBFI</string>
	<key>GCM_SENDER_ID</key>
	<string>320221478845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dopproject</string>
	<key>PROJECT_ID</key>
	<string>dopaiproject</string>
	<key>STORAGE_BUCKET</key>
	<string>dopaiproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320221478845:ios:e1d55625b8386be3739cd4</string>
</dict>
</plist>